<a href="https://colab.research.google.com/github/sagar2582/python-programs/blob/main/List_staters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python program to interchange first and last elements in a list

In [1]:
ls = [1,4,2,5,3,2,5,7]
ls[0], ls[-1] = ls[-1], ls[0]
ls

[7, 4, 2, 5, 3, 2, 5, 1]

### Python program to swap two elements in a list

In [3]:
ls = [1,4,2,5,3,2,5,7]
pos1 = 1
pos2 = 5

ls[pos1-1], ls[pos2-1] = ls[pos2-1], ls[pos1-1]
ls

[3, 4, 2, 5, 1, 2, 5, 7]

### Reversing a List in Python

In [12]:
ls.reverse()

In [13]:
ls

[7, 5, 2, 1, 5, 2, 4, 3]

In [15]:
def reverse_ls(ls):
  left = 0
  right = len(ls)-1
  while left<right:
    temp = ls[left]
    ls[left] = ls[right]
    ls[right] = temp
    left+=1
    right-=1
  return ls

ls1 = [1,2,3,4,5,6,7,8,9,10]
reverse_ls(ls1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Python | Count occurrences of an element in a list

In [17]:
# 1.
x = 2
counter = 0
for elem in ls:
  if elem == x:
    counter+=1
print(counter)

2

In [18]:
# 2.
ls.count(x)

2

### Python | Sum of number digits in List

In [3]:
ls2 = [12, 67, 98, 34]

res = []


for elem in ls2:
  sum = 0
  for digit in str(elem):
    sum+=int(digit)
  res.append(sum)
print(res)

[3, 13, 17, 7]

### Python program to find second largest number in a list

In [4]:
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]

list2 = list(set(list1))
list2.sort()
list2[-2]

45

### Remove empty tuples in a list

In [2]:
ls_tuples = [(",",'8'), (), ('0', '00', '000'), ('birbal', "", '45'), (), (),  (","),()]

f_ls = [t for t in ls_tuples if t]
print(f_ls)

[(',', '8'), ('0', '00', '000'), ('birbal', '', '45'), ',']

### Python | Program to print duplicates from a list of integers

In [3]:
ls_dp = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

uni_ls = []
dup_ls = []
for i in ls_dp:
  if i not in uni_ls:
    uni_ls.append(i)
  elif i not in dup_ls:
    dup_ls.append(i)

print(uni_ls)
print(dup_ls)

[10, 20, 30, 40, 50, -20, 60]
[20, 30, 60, -20]

### Remove empty lists from lists

In [4]:
test_list = [5, 6, [], 3, [], [], 9]

non_emp = [l for l in test_list if l]
print(non_emp)

[5, 6, 3, 9]

In [ ]:
test_list = ["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]
key_lsit = ["name", "number"]

n = len(test_list)