<a href="https://colab.research.google.com/github/sagar2582/python-programs/blob/main/List_staters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python program to interchange first and last elements in a list

In [1]:
ls = [1,4,2,5,3,2,5,7]
ls[0], ls[-1] = ls[-1], ls[0]
ls

[7, 4, 2, 5, 3, 2, 5, 1]

### Python program to swap two elements in a list

In [3]:
ls = [1,4,2,5,3,2,5,7]
pos1 = 1
pos2 = 5

ls[pos1-1], ls[pos2-1] = ls[pos2-1], ls[pos1-1]
ls

[3, 4, 2, 5, 1, 2, 5, 7]

### Reversing a List in Python

In [12]:
ls.reverse()

In [13]:
ls

[7, 5, 2, 1, 5, 2, 4, 3]

In [15]:
def reverse_ls(ls):
  left = 0
  right = len(ls)-1
  while left<right:
    temp = ls[left]
    ls[left] = ls[right]
    ls[right] = temp
    left+=1
    right-=1
  return ls

ls1 = [1,2,3,4,5,6,7,8,9,10]
reverse_ls(ls1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Python | Count occurrences of an element in a list

In [17]:
# 1.
x = 2
counter = 0
for elem in ls:
  if elem == x:
    counter+=1
print(counter)

2

In [18]:
# 2.
ls.count(x)

2